[mysqld]
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysql.sock
user=mysql
innodb_file_per_table=1
open_files_limit=32000
innodb_file_per_table=1

max_allowed_packet=32M

symbolic-links=0
query_cache_size=128MB
query_cache_limit=8MB
table_cache=256
innodb_buffer_pool_size=25165824
thread_cache_size=4
join_buffer_size=524288

long_query_time = 5
slow_query_log_file = /var/log/mysql-slow-queries.log
log-queries-not-using-indexes = 1

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
